<svg version="1.1" x="0px" y="0px" viewBox="-415 240 80 80" style="enable-background:new -415 240 77 70;" width="30px"
    height="30px" transform="rotate(1)">
    <style type="text/css" id="style1">
        .st0 {
            fill: none;
            stroke: #000000;
            stroke-miterlimit: 10;
        }

        .st1 {
            fill: none;
            stroke: #000000;
            stroke-width: 2;
            stroke-miterlimit: 10;
        }
    </style>
    <path class="st0" d="M-3391,1967" id="path1" />
    <line class="st0" x1="-3390" y1="1967" x2="-3390" y2="1967" id="line1" />
    <path class="st1"
        d="M-386.2,298.2c-0.2-10.9-9.3-19.8-20.2-19.8v-6c14.2,0,25.9,11.5,26.2,25.7L-386.2,298.2z" id="path2" />
    <path class="st1"
        d="M-374.6,298c-0.3-17.2-14.6-31.2-31.8-31.2v-6c20.5,0,37.4,16.6,37.8,37.1L-374.6,298z" id="path3" />
    <path class="st1"
        d="M-400.8,299.1c-3.4,0-6.1-2.7-6.1-6.1s2.7-6.1,6.1-6.1c3.4,0,6.1,2.7,6.1,6.1S-397.4,299.1-400.8,299.1z"
        id="path4" />
</svg>