.c-navbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 12.5rem;
    z-index: 100;
}

.c-navbar-icon {
    display: none;
    /* Hide by default */
    background: transparent;
    border: 0;
    padding: 0;
}

.c-navbar-container {
    display: block;
    /* flex-direction: column; */
    /* align-items: center; */
    margin-top: var(--space-md);
    /* 20px */
    border-left: 1px solid var(--nav-border-color);
    /* 1px */
    padding-left: var(--space-sm);
    /* 10px */
    font-family: var(--linkFont);
    user-select: none;
    color: var(--nav-text-color);
}

.c-line {
    width: 0.125rem;
    /* 2px */
    height: 6.25rem;
    /* 100px */
    background-color: var(--nav-border-color);
    margin-bottom: var(--space-md);
    /* 20px */
}

.o-navbar-item {
    margin: var(--space-sm) 0;
    /* 16px -> 10px for consistency */
}

.o-navbar-item:nth-of-type(1) {
    margin-top: 0rem;
    /* 0px */
}

.o-navbar-item:nth-last-of-type(1) {
    margin-bottom: 0rem;
    /* 0px */
}

.o-navbar-item > a:not(.o-setting-icon) {
    color: var(--nav-text-color);
    text-decoration: none;
    background-image: linear-gradient(to right, var(--nav-text-color), var(--nav-text-color));
    background-size: 0% 0.125rem;
    /* 2px */
    background-repeat: no-repeat;
    background-position: 0% 100%;
    transition: color 0.3s;
    font-size: 0.8rem;
}

.o-navbar-item > a:not(.o-setting-icon):hover {
    animation: a-underline-text-left-right 0.5s forwards;
}

.o-navbar-item.is-active > a:not(.o-setting-icon) {
    background-size: 100% 1px;
    animation: none;
}

.o-navbar-item.is-active > a:not(.o-setting-icon):hover {
    animation: none;
}

#dark-mode-toggle {
    position: absolute;
    top: 1.0625rem;
    right: 6.25rem;
    height: 1rem;
    width: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

a.o-setting-icon {
    position: absolute;
    top: 0.9375rem;
    right: 4.0625rem;
    height: 1rem;
    width: 1rem;
}

a.o-setting-icon:hover {
    animation: none;
}

@media (max-width: 1032px) {
    #dark-mode-toggle {
        display: none;
    }

    a.o-setting-icon {
        display: none;
    }

    .c-navbar {
        width: 5.3rem;
    }

    .c-navbar-container {
        margin-top: 10px;
        margin-right: 10px;
    }

    .c-navbar-items {
        padding-left: 0;
    }
}

/* for mobile */
@media (max-width: 445px) {
    .c-navbar {
        display: none;
        width: 100%;
    }

    .c-navbar.show {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: transparent;
        backdrop-filter: blur(3px);
        z-index: 1000;
    }

    .c-navbar-icon {
        display: block;
        width: 20px;
        height: 20px;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1001;
        cursor: pointer;
    }

    .c-navbar-container {
        margin-top: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-left: none;
    }

    .c-navbar-items {
        padding-left: 10px;
        border-left: 1px solid var(--nav-border-color);
    }

    .c-navbar-items li {
        margin-bottom: 1rem;
        align-self: flex-end;
    }

    .c-navbar.show + .c-navbar-icon {
        display: none;
    }
}