.col-stories,
.stories {
    /* Default theme variables (assumed to be light) */
    --backgroundColor: #fdfdfd;
    --textColor: #404040;
    --secondaryTextColor: #404040;
    --mutedTextColor: #707070;
    --subtleBackgroundColor: #f5f5f5;
    --heartedBackgroundColor: #ffe2e2;
    --selectionBackgroundColor: #ffc;
    --linkColor: #2357cd;
    --borderColor: #666666;
    --hrColor: #888;
    --activeColor: #74d274;
    --langBackgroundColor: #eee;
    --langShadowColor: transparent;
    --logoColor: #ccc;
    --photoBackground: #f4f4f4;
    --storyHoverColor: #d8b4ff;

    /* TODO: think of better way to remove them later; repetitive with the above */
    --backgroundColorLight: #fdfdfd;
    --textColorLight: #404040;
    --secondaryTextColorLight: #404040;
    --mutedTextColorLight: #707070;
    --subtleBackgroundColorLight: #f5f5f5;
    --heartedBackgroundColorLight: #ffe2e2;
    --selectionBackgroundColorLight: #ffc;
    --linkColorLight: #2357cd;
    --borderColorLight: #666666;
    --hrColorLight: #888;
    --activeColorLight: #74d274;
    --langBackgroundColorLight: #eee;
    --langShadowColorLight: transparent;
    --logoColorLight: #ccc;
    --photoBackgroundLight: #f4f4f4;
    --storyHoverColorLight: #d8b4ff;

    /* TODO: think of better way to remove them later; repetitive with below; Dark theme variables */
    --backgroundColorDark: #151615;
    --textColorDark: #dbdfdf;
    --secondaryTextColorDark: #cfd5d5;
    --mutedTextColorDark: #b4b6b8;
    --subtleBackgroundColorDark: #3a3b3b;
    --heartedBackgroundColorDark: #652222;
    --selectionBackgroundColorDark: #19446b;
    --linkColorDark: #6eb8ff;
    --borderColorDark: #888888;
    --hrColorDark: #888;
    --activeColorDark: #74d274;
    --langBackgroundColorDark: #2c2c2c;
    --langShadowColorDark: rgba(11, 12, 11, 0.2);
    --logoColorDark: #555;
    --photoBackgroundDark: #1a1a1a;
    --storyHoverColorDark: #d8b4ff;
}

@media (prefers-color-scheme: dark) {
    .col-stories,
    .stories {
        --backgroundColor: #151615;
        --textColor: #dbdfdf;
        --secondaryTextColor: #cfd5d5;
        --mutedTextColor: #b4b6b8;
        --subtleBackgroundColor: #3a3b3b;
        --heartedBackgroundColor: #652222;
        --selectionBackgroundColor: #19446b;
        --linkColor: #6eb8ff;
        --borderColor: #414141;
        --hrColor: #888;
        --activeColor: #74d274;
        --langBackgroundColor: #2c2c2c;
        --langShadowColor: #0b0c0b 33;
        --logoColor: #555;
        --photoBackground: #1a1a1a;
        --storyHoverColor: #d8b4ff;
    }
}

.stories {
    display: flex;
    gap: 1em;
    align-items: center;
    overflow: auto;
    padding: 10px;
    margin: -10px;
    font-size: 1rem;
}

open-stories .count {
    font-size: 0.5rem;
}

open-stories::part(dialog):focus {
    outline: none;
}

open-stories:not(:defined),
open-stories::part(button) {
    font-family: var(--linkFont), serif, Times, Arial, sans-serif;
    border: 2px solid var(--borderColor);
    box-shadow: inset 0 0 0 2px var(--backgroundColor);
    color: var(--textColor);
    background: var(--subtleBackgroundColor);
    padding: 1em 0;
    text-align: center;
    height: 73px;
    width: 73px;
    border-radius: 50%;
    font-size: 0.65rem;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition: all 0.3s;
    line-height: normal;
    justify-content: center;
    cursor: pointer;
}

:root[data-theme="light"] open-stories::part(button) {
    box-shadow: inset 0 0 0 2px var(--backgroundColorLight);
    border-color: var(--borderColorLight);
    color: var(--textColorLight);
    background: var(--subtleBackgroundColorLight);
}

:root[data-theme="dark"] open-stories::part(button) {
    box-shadow: inset 0 0 0 2px var(--backgroundColorDark);
    border-color: var(--borderColorDark);
    color: var(--textColorDark);
    background: var(--subtleBackgroundColorDark);
}


@media (max-width: 932px) {
    open-stories::part(button) {
        width: 67px;
        height: 67px;
    }
}


open-stories:not(:defined):hover,
open-stories::part(button):hover {
    background: var(--storyHoverColor);
    color: var(--backgroundColor);
    transform: scale(1.05);
}

open-stories:not([is-highlight])::part(button) {
    border-color: var(--secondaryTextColor);
}

open-stories:not(.is-read):not(.is-empty):not([is-highlight]):not(.is-loading)::part(button) {
    border-color: var(--linkColor);
}

open-stories.is-loading {
    opacity: 0.3;
    animation: loading 1s infinite alternate;
}

open-stories.is-loading::part(button) {
    pointer-events: none;
    border: 0;
}

open-stories.is-empty::part(button) {
    pointer-events: none;
    opacity: 0.5;
    overflow: hidden;
    position: relative;
    border-color: #333333;
}

:root[data-theme="light"] open-stories.is-empty::part(button) {
    border-color: #444444;
}

:root[data-theme="dark"] open-stories.is-empty::part(button) {
    border-color: #7b7a7a;
}

open-stories.is-empty::part(button):before {
    display: block;
    content: '';
    border-left: 1px solid #3e3e3e;
    position: absolute;
    transform: rotate(-45deg);
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    transform-origin: top left;
}

:root[data-theme="dark"] open-stories.is-empty::part(button):before {
    border-left-color: #a9a9a9;
}