.col-stories {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: black;
    font-size: 2.2vh;

    header,
    main,
    footer {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

    .story-header {
        padding: 1vh 2vh;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 0.5vh;
        row-gap: 0.2vh;
        align-items: center;
        position: absolute;
        z-index: 1;
        bottom: 0;
        color: #fff;
        font-size: 1rem;
        max-height: 10vh;
    }

    .story-meta {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .entry-title {
        font-size: 1rem;
    }

    main {
        display: flex;
        height: 100vh;
        align-items: center;
        text-align: center;
        justify-content: space-around;
    }

    main img {
        max-height: 96vh;
        max-width: 98vw;
        border-radius: 0.5vh;
    }
}