.toc-container {
    position: absolute; /* Position the TOC absolutely */
    top: 0;             /* Align it to the top */
    left: 0;            /* Align it to the left */
    margin: var(--space-sm);
    margin-top: var(--space-md);          /* Remove any default margin */
    padding: var(--space-sm);      /* Add some padding for aesthetics */
    z-index: 1000;      /* Ensure it is on top of other elements */
    list-style: none;
    font-family: monospace;
}

.toc-container::before {
    content: "目录";
    text-decoration: underline;
    display: block;
    margin-bottom: var(--space-sm);
}

@media (max-width: 1032px) {
    .toc-container {
        display: none;
    }
}

.toc-container ul {
    list-style: none;
}

.toc-container li {
    margin-bottom: var(--space-xs);
}

.toc-container ul li:first-child {
    margin-top: var(--space-xs);
}

.toc-container ul li {
    margin-bottom: var(--space-xs);
}

a {
    color: var(--linkColor);
}

.c-writing-post-meta-container {
    margin: var(--space-md);
}

.o-writing-title {
    font-size: 2rem;
    margin-bottom: var(--space-md);
}

.o-writing-post-title {
    font-size: 2rem;
    margin-bottom: var(--space-sm);
}

.c-writing-post-date {
    font-size: 1rem;
    color: var(--writing-text-secondary);
    margin-bottom: var(--space-sm);
    font-family: var(--dateFont);
    display: inline-block;
}

.c-writing-post-tag-container::before {
    content: "|";
    margin-right: var(--space-xs);
    margin-left: var(--space-xs);
}

.c-writing-post-tag-container {
    display: inline-block;
    margin-top: var(--space-sm);
    margin-bottom: var(--space-sm);
    display: inline-block;
}

.o-writing-post-tag {
    border-radius: var(--radius-sm);
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--writing-text-secondary);
    font-family: var(--tagFont);
    text-decoration: none;
    transition: color 0.5s;
}

.o-writing-post-text {
    font-size: 1rem;
    color: var(--writing-text-primary);
    border-bottom: 0.0625rem solid var(--writing-border-color);
    font-weight: 400;

    p {
        line-height: 2.0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-bottom: var(--space-lg); /* Add margin to ensure content doesn't touch the border */
    }
}

.o-writing-post-text h1,
.o-writing-post-text h2,
.o-writing-post-text h3,
.o-writing-post-text h4 {
    scroll-margin-top: 0.5rem;
}

/* for writing image container */
.center-image {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: contain;
    border-radius: var(--radius-sm);
    margin-top: var(--space-sm);
}

.image-caption {
    display: block;
    text-align: center;
    margin-top: var(--space-sm);
    font-style: normal;
    color: var(--writing-text-secondary);
}

/* Add a container class to handle the overall padding */
.c-writing-post-container {
    padding-bottom: var(--space-lg); /* Add padding to ensure the border is visible */
}
